
body {
  background: #051020;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

#background-svg {
  height: 100%;
  margin:auto;
  -webkit-transition-duration: 2s;
-moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
   transition-property: transform;
}

/*@-moz-keyframes rotate { 100% { -moz-transform: rotateY(180deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotateY(180deg); } }
@keyframes rotate { 100% { -webkit-transform: rotateY(180deg); transform:rotateY(180deg); } }*/

#about {
  visibility: hidden;
}

#background-svg circle {
  /*fill:#FAFAFF;*/
  fill:white;
}

#container {
  text-align: center;
  position:absolute;
  top:50vh;
  left:50vw;
  width:90vw;
  height:90vh;

  margin-left:-45vw; /* -1/2 width */
  margin-top:-45vh; /* -1/2 height */

}
